*{
    margin: 0 ; /*deixa margem esqueda e direita nula*/
    padding: 0 ; /* deixa a imagem superior e inferior nula*/
    box-sizing: border-box; /* cria uma caixa invisivel para o corpo do site*/

}