*{
    margin: 0 ; /*deixa margem esqueda e direita nula*/
    padding: 0 ; /* deixa a imagem superior e inferior nula*/
    box-sizing: border-box; /* cria uma caixa invisivel para o corpo do site*/

}

.topo{
    background-color: beige;/*cor do fundo do topo do site*/
    height: 15vh; /*tamanho do topo do site 15% da tela*/
}
.conteudo{
     height:85vh;
     background-color: rgb(15, 117, 206); 
}


.imagem-circular{
     width: 150px;
     height: 15px;
     border-radius: 50%;
}
.imagem img{
    with: 50px;
    height: 50px;
     border-radius: 5%;/* torna a imgem circular*/
    object-fit: cover;/* garant que a imagm cuba todo o espaço */

}

rodape {
     height: 15;
}